:root {
  --header-height: 80px;
  --accent-color: #7E1633;
}

main {
  background-image: url('../images/white-element-image.png');
  background-size: 300px; 
  background-repeat: repeat;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif, arial;
  font-size: 16px;
}

a {
  height: 100%;
  text-decoration: none; 
  color: inherit; 
  background-color: transparent; 
  font: inherit; 
  border: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  padding: 12px;
  font-size: 1em;
  font-weight: 700;
  color: var(--accent-color);
  border: 3px solid var(--accent-color);
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.15s;
}
button:hover {
  background-color: var(--accent-color);
  color: white;
  font-weight: 500;
}
button:active {
  opacity: 0.6;
}

header {
  display: flex;
  align-items: center;

  background-color: rgba(255, 255, 255, 1);

  position: fixed;
  z-index: 100;
  height: var(--header-height);
  top: 0;
  left: 0;
  right: 0;

}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin-bottom: 5px;
}

.logo {
  height: 80%;
  cursor: pointer;
}
.hamburger-menu {
  height: 30%;
  margin: 0 20px;
  display: none;
  cursor: pointer;
}

.header-category {
  padding: 12px 36px;
  border-right: 4px solid black;
  font-size: 1.125em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.15s;
}
.header-category:hover {
  color: var(--accent-color);
  border-right: 4px solid var(--accent-color);
}

.selected-header-category {
  border-right: 4px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 700;
}

.contact-us-container {
  margin-left: 65px;
  margin-right: 15px;
  padding: 16px 48px;
  background-color: var(--accent-color);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.15s;
}
.contact-us-container:active {
  opacity: 0.6;
}

.homepage-container {
  position: relative;
}

.homepage-image {
  object-position: top;
  height: 100vh;
  min-height: 460px;
  width: 100%;
  object-fit: cover;
  font-size: 0;
}

.homepage-grid {
  position: absolute;
  top: var(--header-height);
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: grid;
  grid-template-columns: 40px 700px 1fr;
  grid-template-rows: 1fr minmax(350px, 2fr) 1fr;
}

.homepage-text-container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding: 60px;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1410px) {
  .header-category {
    display: none
  }
  .hamburger-menu {
    display: inline-block;
  }
}

@media (max-width: 780px) {
  .homepage-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .homepage-grid {
    grid-template-rows: 1fr minmax(350px, 5fr) 1fr;
  }
}


.homepage-title {
  font-size: 1.75em;
  font-weight: 900;
  margin-bottom: 12px;
}

.homepage-description {
  font-size: 1em;
  font-weight: 300px;
  line-height: 24px;
}

.homepage-container a{
  margin-top: 32px;
  justify-content: start;
}

@media (max-height: 150px) {
  header {
    display: none;
  }
  .homepage-grid {
    top: 0;
  }
}


/* Now onto nav */


nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: linear-gradient(var(--accent-color), #7e1633ef);
  z-index: 200;
  box-shadow: 10px 0 15px rgb(0, 0, 0, 0.5);
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  transition: all 0.2s ease-out;
}

nav.open {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: auto;
}

.nav-category {
  padding: 20px 0;
  width: 172px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border-bottom: 3px solid black;
  transition: all 0.15s;
}

.selected-nav-category, .nav-category:hover {
  color: white;
  font-weight: 600;
  border-bottom: 3px solid white;
}
