.chart-container {
  background-color: rgba(255, 255, 255, 0.5);
}

#chartDiv {
  width: 100%;
  height: 40px;
  padding: 24px 36px;
  max-height: 400px;
}

/* Now onto the actual webpage */

.element-title {
  font-size: 1.75em;
  font-weight: 700;
  padding: 52px 0 16px 52px;
  color: var(--accent-color);
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.general-card {
  flex: 1;
  background-color: white;
  margin: 20px;
  min-width: 280px;
  max-width: 360px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
  transition: background-color 0.3s;
}
.general-card:hover {
  background-color: rgb(248, 248, 248);
}

.tutor-card {
  padding: 40px 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'picture name'
  'description description'
  'uni uni';
  cursor: pointer;
}

.tutor-picture-container {
  grid-area: picture;
}
.tutor-picture {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.tutor-name {
  grid-area: name;
  align-self: center;
  justify-self: start;
  margin-left: 12px;
  font-weight: 700;
  font-size: 1.6em;
}

.tutor-description {
  grid-area: description;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 300;
  line-height: 24px;
}

.uni-container {
  grid-area: uni;
}

.uni-logo {
  width: 200px;
  height: 50px;
  object-fit: contain;
  opacity: 0.3;
}

.results-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 200px;
  max-width: 280px;
  padding: 40px;
  margin-bottom: 80px;
}

.quote-mark-container {
  height: 60px;
  margin-bottom: 20px;
}
.quote-mark {
  height: 100%;
}

.results-description {
  font-weight: 300;
  line-height: 24px;
}

.results-name {
  align-self: end;
  justify-self: end;
  font-weight: 700;
  font-size: 2.5em;
  padding-top: 28px;
  margin-top: auto;
}

/*
Now onto the text-picture sections
*/

.picture-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
  margin: 0 36px 0 36px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.15);
  height: var(--percent-height);
}

.element-image-container {
  min-height: 300px;
  max-height: 500px;
}

.element-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-container {
  background-color: rgb(248, 248, 248);
  height: 100%;
  width: 100%;
}

.text-header {
  margin-top: 80px;
  font-size: 1.875em;
  font-weight: 500;
  color: var(--accent-color);
  padding: 0 10%;
}

.text-description {
  margin-top: 40px;
  padding: 0 10%;
  font-weight: 300;
  line-height: 24px;
}

@media (max-width: 866px) {
  .picture-text-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 90%;
  }

  .element-image-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .text-container {
    background-color: rgba(255, 255, 255, 0.7);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    order: 1;
  }

  .text-description {
    font-weight: 400;
  }
}

@media (max-width: 500px) {
  .text-header {
    margin-top: 20px;
  }
  
  .text-description {
    margin-top: 10px;
  }

  .picture-text-container {
    height: 90%;
  }
}


/* Footer now */


.footer {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color: rgba(255, 255, 255, 0.7);
}

.footer-text-container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 12px;
}

.footer-description {
  font-weight: 300;
  font-size: 1.125em;
  margin-bottom: 24px;
}

.footer-button {
  font-weight: 900;
}








element.style {
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}
:root, [data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
Show all properties (67 more)
}
@media (max-width: 768px) {
    :root {
        --docsearch-spacing: 10px;
        --docsearch-footer-height: 40px;
    }
}
:root {
    --docsearch-primary-color: #5468ff;
    --docsearch-text-color: #1c1e21;
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: #969faf;
    --docsearch-container-background: rgba(101, 108, 133, 0.8);
    --docsearch-logo-color: #5468ff;
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: #f5f6f7;
    --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a64;
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: #ebedf0;
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: #444950;
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: #fff;
    --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
    --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
    --docsearch-key-pressed-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 1px 0 rgba(30, 35, 90, 0.4);
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, 0.12);
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
